{% extends 'base.html' %}

{% block title %}
    main_page
{% endblock %}

{% block main %}
    <h1>LINKS:</h1>
    <ul>
        <li>users: <a href=http://127.0.0.1:5000/users>http://127.0.0.1:5000/users</a></li>
        <li>books: <a href=http://127.0.0.1:5000/books>http://127.0.0.1:5000/books</a></li>
        <li>login: <a href=http://127.0.0.1:5000/login>http://127.0.0.1:5000/login</a></li>
        <li>params: <a href=http://127.0.0.1:5000/params>http://127.0.0.1:5000/params</a></li>
    </ul>
{% endblock %}
